*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./imgs3/background.png");
  background-size: cover;
  background-position: center;
}

.world {
  overflow: hidden;
  position: relative;
  zoom: 1.2;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 0;
  top: 1vmin;
  background: lightgray;
  padding: 5px 10px;
  border: 1.5px solid;
  border-right: none;
  min-width: 61px;
  border-radius: 6px 0px 0px 6px;
  text-align: center;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
